body {
  font-family: Inter, sans-serif;
  background-color: #fff;
  color: #434b53;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}
address {
  font-style: normal;
}
.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ==========HEADER=========== */
.header {
  border-bottom: 3px solid #275f7a;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #275f7a;
}

.header-nav {
}

.header-list {
  display: flex;
  /* gap: 40px; */
}

.header-list-item:not(:last-child) {
  margin-right: 40px;
}

.header-item-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #2e363e;
  padding-top: 41px;
  padding-bottom: 41px;
  display: block;
}
.header-item-link:hover,
.header-item-link:focus {
  color: #275f7a;
}

.header-address {
}

.header-address-contact {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.52;
  text-align: right;
  color: #275f7a;
}

/* Тарифи */

.section-tariffs {
  padding-top: 100px;
  padding-bottom: 100px;
}

.tariffs-list {
  display: flex;
  gap: 20px;
}

.tarrifs-item {
  width: calc((100% - 2 * 20px) / 3);
  box-shadow: 2px 4px 15px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  border-radius: 10px;
  padding: 20px 35px 35px;
}

.tarrifs-img {
  margin: 0 auto 47px;
}

.tarrifs-item-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.tariffs-item-title {
  font-weight: 700;
  font-size: 27px;
  line-height: 1.1;
  color: #2e363e;
}

.tariffs-item-price {
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
}

.tariffs-item-description {
  margin-bottom: 13px;
}

.tariffs-text {
  line-height: 1.1;
  color: #2e363e;
}

.tariffs-item-text {
  margin-bottom: 52px;
}

.tariffs-button {
  display: block;
  font-size: 17px;
  line-height: 1.1;
  color: #275f7a;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  margin-left: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 76px 67px 75px 50px;
  width: 650px;
  min-height: 854px;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: none;
  background-color: #275f7a;
  color: #fff;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #e3f2f9;
  color: #022c40;
}

.modal-subtitle {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: 700;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #000;
  margin-bottom: 19px;
}

.modal-subtitle::before {
  content: "";
  width: 143px;
  height: 2px;
  background-color: #d8d8d8;
  display: block;
}

.modal-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.255;
  letter-spacing: 0.03em;
  color: #022c40;
  margin-bottom: 31px;
}

.modal-title-accent {
  color: #000;
}
.modal-text {
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #022c40;
  margin-bottom: 23px;
}
.form {
}

.form-label {
  display: block;
  margin-bottom: 23px;
}

.form-input {
  border: 1px solid #cacaca;
  border-radius: 5px;
  width: 100%;
  height: 60px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms ease-in-out;
  padding-left: 21px;
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.03em;
  text-align: justify;
  color: #000;
}

.form-input:focus {
  border-color: #022c40;
}
.form-textarea {
  width: 100%;
  height: 149px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  background-color: transparent;
  outline: transparent;
  padding: 22px;
  transition: border-color 250ms ease-in-out;
  resize: none;
}

.form-textarea:focus {
  border-color: #022c40;
}

.form-submit-button {
  min-width: 181px;
  height: 48px;
  background-color: #022c40;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  border: none;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
